<!DOCTYPE html>
<html lang="en">

<head>
    <title>3T - Trinity Travel Trips</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all' %>
                <%= javascript_include_tag 'application' %>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>

<body>
    <nav class="ui secondary pointing menu">
        <style>
            .ui.secondary.pointing.menu {
  background-color: #08c1ff;
}
        </style>
        <% if logged_in? %>
        <a href="/"> <img src=/assets/Trinity_home.png height="75" width="75"></a>
            <a class="<%= active_class('/home') %>" href="/">My Trips</a>
            <% if current_user.friend_requests? %>
                <a class="<%= active_class('/friends') %>" href="<%= friends_path %>">
              Friends
              <div class="floating ui red circular label"><%=current_user.requested_friends.count%></div></a>
                <% else %>
                    <a class="<%= active_class('/friends') %>" href="<%= friends_path %>">Friends</a>
                    <% end %>
                        <a class='<%= active_class("#{user_path(current_user)}") %>' href="<%= user_path(current_user)%>">Profile</a>
                        <a class="<%= active_class('/trips/browse') %>" href="/trips/browse">Browse</a>
                        <% end %>


                            
                                <div class="item">
                                    <% if session[:user_id] %>
                                        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
                                            <input class="ui basic button" type=submit value='Logout'>
                                            <% end %>
                                                <% end %>
                                </div>
                            
    </nav>
    <%= yield %>
</body>
<footer>
   
</html>